*, :after, :before {
	box-sizing: border-box;
}

html, body { 
	height: 100%;
}

html {
	font-size: 10px;
}

body { 
	margin: 0 auto;
	min-width: 1024px;
	background-color: #ececec;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-dialog-container {
	background: transparent;
	box-shadow: none;

	.mat-card {
		padding: 32px;
		border-radius: 15px;
		box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3), 10px 10px 15px rgba(70, 70, 70, 0.6);
	}
}

.mat-paginator {
	margin-top: 24px;
	background-color: transparent;
}