*, :after, :before {
	box-sizing: border-box;
}

html, body { 
	height: 100%;
}

html {
	font-size: 10px;
}

body { 
	margin: 0 auto;
	min-width: 1024px;
	background-color: #ececec;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, "Helvetica Neue", sans-serif; 
}
