@import "/src/assets/styles/home/home-views.mixin";

.storage-view {
	@include home-table();
	@include views-create-button();
	@include mat-table-columns(
		(
			id: (
				width: 5%,
			),
			storageSpace: (
				width: 22%,
			),
			items: (
				width: 21%,
			),
			createdDate: (
				width: 21%,
			),
			actions: (
				width: 21%,
			),
		)
	);

	th {
		width: 25%;
	}
}
