<mat-card>
	<mat-card-content>
		<form [formGroup]="storageForm" (ngSubmit)="onSubmit()">
			<h2 *ngIf="storage.id == 0; else asd">Create Storage</h2>
			<ng-template #asd>
				<h2>Edit Storage</h2>
			</ng-template>


			<div formArrayName="storage_space">

				<mat-form-field *ngIf="storage.id != 0" appearance="legacy">
					<input matInput type="text" [value]="storage.storageSpace" [disabled]="true" />
				</mat-form-field>

				<div *ngFor="let level of storageSpace.controls; let i = index" [formGroupName]="i">

					<mat-form-field appearance="legacy">
						<input matInput type="text" formControlName="storage_level" [placeholder]="'Level ' + (i + 1)"
							[required]="true" />
					</mat-form-field>

					<mat-icon *ngIf="storageSpace.controls.length !== 1" matSuffix class="icon"
						(click)="removeStorageLevel(i)">remove_circle_outline</mat-icon>
					<mat-icon *ngIf="storageSpace.controls.length - 1 == i" matSuffix class="icon"
						(click)="addStorageLevel()">add_circle_outline</mat-icon>
				</div>

			</div>
			<button mat-flat-button type="submit" color="primary" *ngIf="storage.id == 0; else update">
				Create Storage
			</button>
			<ng-template #update>
				<button mat-flat-button type="submit" color="primary">Update Storage</button>
			</ng-template>
		</form>
	</mat-card-content>
</mat-card>